.a, .b, .c, .d, .e, .f, .g, .h, .i {
    vertical-align: middle;
    text-align:center;
}
.a2, .b2, .c2, .d2, .e2, .f2, .g2, .h2, .i2 {
    margin:0px;
    display:inline-block;
    position:relative;
    vertical-align:middle;
    top:calc(50% - 9px);
}

.flex-container {
    display:flex;
}


@media only screen and (max-width: 960px) {


    
.flex-container {
    flex-flow:row wrap;
    justify-content:flex-start;
    flex-wrap:wrap;
}

body {
    background-color:whitesmoke;
    width:480px;
}
.a {
    /* position:center; */
    width:480px;
    height:75px;
    background-color:lightblue;
}
.b {
    /* position:center; */
    width:480px;
    height:150px;
    background-color:lightcoral;
}
.c{
    /* position:center; */
    width:480px;
    height:125px;
    background-color:lightcyan;
}
.d{
    /* position:center; */
    width:480px;
    height:125px;
    background-color:lightgoldenrodyellow;
    }
.e{
    width:240px;
    height:250px;
    background-color:lightgray;
    /* float:left; */
    }
.f{
    width:240px;
    height:250px;
    background-color:lightgreen;
    /* float:right; */
    margin-left:auto;
    }
.g{
    width:240px;
    height:250px;
    background-color:lightskyblue;
    /* float:left; */
    }
.h{
    width:240px;
    height:250px;
    background-color:lightpink;
    /* float:right; */
    margin-left:auto;
    }
.i{
    width:480px;
    height:80px;
    background-color:lightsalmon;
    /* clear:both; */
    }
}

@media only screen and (min-width: 960px) {

.flex-container {
    flex-flow: row wrap;
    justify-content: left;
    flex-wrap: wrap;
}

body {
    /* position:center; */
    width:1000px;
    background-color: steelblue;
}


.a {
    /* position:center; */
    width:960px;
    height:100px;
    background-color:blue;
}
.b {
    /* position:center; */
    width:200px;
    height:600px;
    background-color:coral;
}
.c{
    /* float:left; */
    /* position:relative; */
    width:380px;
    height:200px;
    background-color:cyan;
}
.d{
    /* float:left; */
    /* position:relative; */
    width:380px;
    height:200px;
    background-color:goldenrod;
    }
.e{
    /* float:left; */
    width:190px;
    height:250px;
    background-color:gray;
    /* margin-left:auto; */
    }
.f{
    /* float:left; */
    width:190px;
    height:250px;
    background-color:green;
    /* margin-left:auto; */

    }
.g{
    /* float:left; */
    width:190px;
    height:250px;
    background-color:skyblue;
    /* margin-left:auto; */

    }
.h{
    /* float:left; */
    width:190px;
    height:250px;
    background-color:pink;
    /* margin-left:auto; */

    }
.i{
    /* float:left; */
    width:760px;
    height:150px;
    background-color:salmon;
    }
}